@charset "UTF-8";

/* nav */
nav {
    width: 100%;
    height: 70px;
    border-top: 1px solid goldenrod;
}
nav .menu {
    display: flex;
    font-size: 20px;
    text-align: center;
}

nav .menu li {
    width: 25%;
    padding-top: 15px;
    position: relative;
}

nav .menu > li > a {
    transition: all 0.3s ease;
    color: #000;
}

nav .menu > li > a:hover {
    font-weight: 700;
    font-size: 24px;
    color: gold;
}

nav .menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

nav .menu .sub-menu {
    position: absolute;
    width: 50%;
    left: 25%;
    background: lightyellow;
    border-radius: 30px;
    font-size: 13px;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

nav .menu .sub-menu li {
    width: 100%;
    text-align: center;
}

nav .menu .sub-menu li a {
    display: inline-block;
    padding: 6px 20px;
    margin-top: 2px;
    color: #000;
    position: relative;
}

nav .menu .sub-menu li a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background:goldenrod;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}

nav .menu .sub-menu li a:hover:before {
    transform: scaleX(1);
}

nav .menu .sub-menu li:first-child {
    padding-top: 0;
}

/* banner */
.banner-img1 {
    background: url(../img/banner01.jpg) no-repeat center top;
    height: 585px;
}

.banner-img2 {
    background: url(../img/banner02.jpg) no-repeat center top;
    height:585px;
}

.banner-img3 {
    background: url(../img/banner03.jpg) no-repeat center top;
    height:585px;
}

/* contents */
.contents {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.content-item {
    position: relative;
}

.content-item-imgWrap {
    width: 100%;
    height: 300px;
    display: flex;
}

.content-item-img {
    width: 33.333%;
    height: 100%;
    border-radius: 40%;
    margin-left: 10px;
}
.content-item-img:first-child {
    margin-left: 0;
}

.content-item-desc {
    font-size: 3vw;
    line-height: 1.4;
    color: #000;
    text-align: center;
    position: relative;
    z-index: 20;
    font-weight: 100;
    top: 20px;
    bottom: 0;
}

.content-item-desc a {
    background: radial-gradient(lightyellow, rgb(247, 247, 204));
    border-radius: 50%;
}

.content-item-desc i {
    color: goldenrod;
}

/* 개별적으로 나타나기 */
.contents > section .content-item-img.img01 {
    opacity: 0;
    transform: translateY(-200px) rotate(30deg) skew(20deg);
    transition: all 1s 0.6s cubic-bezier(0, 0.51, 0.16, 1.1);
}
.contents > section .content-item-img.img02 {
    opacity: 0;
    transform: translateY(200px) skew(20deg);
    transition: all 1s 0.6s cubic-bezier(0, 0.51, 0.16, 1.1);
}
.contents > section .content-item-img.img03 {
    opacity: 0;
    transform: translateY(-200px) rotate(30deg) skew(20deg);
    transition: all 1s 0.6s cubic-bezier(0, 0.51, 0.16, 1.1);
}
.contents > section .content-item-desc {
    opacity: 0;
    transform: translateX(200px);
    transition: all 1s 0.9s cubic-bezier(0, 0.51, 0.16, 1.1);
}


.contents > section.show .content-item-img.img01 {
    opacity: 1;
    transform: translateY(0) rotate(0) skew(0);
}
.contents > section.show .content-item-img.img02 {
    opacity: 1;
    transform: translateY(0) rotate(0) skew(0);
}
.contents > section.show .content-item-img.img03 {
    opacity: 1;
    transform: translateY(0) rotate(0) skew(0);
}
.contents > section.show .content-item-desc {
    opacity: 1;
    transform: translateX(0);
}

#intro .img01 {
    background: url("../img/intro-img01.jpg") no-repeat;
}
#intro .img02 {
    background: url("../img/intro-img02.jpg") no-repeat;
}
#intro .img03 {
    background: url("../img/intro-img03.jpg") no-repeat;
}

/* baby & story */

#baby,
#story {
    width: 100%;
}

#story {
    margin-bottom: 10%;
}

.list {
    padding: 10px 10px;
    background: goldenrod;
    overflow: hidden;
    display: table;
    width: 100%;
}

.list .card-post-row {
    background: #555;
    display: table-row;
}

.card-img01 {
    background-image: url(../img/대박.jpg);
}
.card-img02 {
    background-image: url(../img/하루.jpg);
}
.card-img03 {
    background-image: url(../img/통키.jpg);
}
.card-img04 {
    background-image: url(../img/사랑.jpg);
}
.card-img05 {
    background-image: url(../img/루팡.jpg);
}
.card-img06 {
    background-image: url(../img/온화.jpg);
}
.card-img07 {
    background-image: url(../img/기쁨.jpg) ; 
}
.card-img08 {
    background-image: url(../img/믿음.jpg); 
}
.card-img09 {
    background-image: url(../img/평화.jpg);
}

.card a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.card a:hover {
    background: #000;
    opacity: 0.5;
}

/* adoption */
#adoption {
    margin-bottom: 0;
}

.adoption-img1 {
    background: url(../img/adoption-img01.jpg) no-repeat center top;
    left:10%;
    height: 585px;
    margin-bottom:0px;
}
.adoption-img2 {
    background: url(../img/adoption-img02.jpg) no-repeat center top;
    left:10%;
    height: 585px;
    margin-bottom:0px;
}
.adoption-img3 {
    background: url(../img/adoption-img03.jpg) no-repeat center top;
    left:10%;
    height: 585px;
    margin-bottom:0px;
}