@charset "UTF-8";

nav .menu {
    display: flex; font-size: 20px; text-align: center;
}

nav .menu li {
    width: 25%; padding-top: 15px; position: relative;
}

nav .menu > li > a {
    transition: all 0.3s ease; color: #000;
}

nav .menu > li > a:hover {
    font-weight: 700; font-size: 24px; color: gold;
}

nav .menu li:hover .sub-menu {
    opacity: 1; visibility: visible;
}

nav .menu .sub-menu {
    position: absolute; width: 50%; left: 25%;
    background: lightyellow;
    border-radius: 30px; font-size: 13px;
    transition: all 0.3s ease;
    z-index: 1; opacity: 0; visibility: hidden;
}

nav .menu .sub-menu li {
    width: 100%;
    text-align: center;
}

nav .menu .sub-menu li a {
    display: inline-block; border-radius: 30px;
    padding: 6px 20px; margin-top: 2px; color: #000;
    position: relative;
}

nav .menu .sub-menu li a:before {
    content: ''; position: absolute; left: 0; bottom: 0;
    width: 100%; height: 1px;  background:goldenrod;
    transform: scaleX(0); transition: transform .25s ease-in-out;
}

nav .menu .sub-menu li a:hover:before {
    transform: scaleX(1);
}

nav .menu .sub-menu li:first-child {
    padding-top: 0;
}

/* banner */
.banner {
    padding: 115px 50px;
}

.banner-img1 {
    background: url(../img/banner01.jpg) no-repeat center top;
    /* background: lightgrey; */
    left:10%; height: 585px; margin-bottom:0px;
}

.banner-img2 {
    background: url(../img/banner02.jpg) no-repeat center top;
    /* background: lightgrey; */
    left:10%; height:585px;
}

.banner-img3 {
    background: url(../img/banner03.jpg) no-repeat center top;
    /* background: lightgrey; */
    left:10%; height:585px;
}

/* contents */

.contents {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.content-item {
    position: relative;
    /* --image-width: calc(var(--image-width-max) * var(--aspect-ratio));
    width: var(--image-width); */
    width: 1000px;
    max-width: 90vw;
    margin: 25vh 35vh 30vh;
}

.content-item:nth-child(even) {
    margin-left: auto;
}

.content-item-num {
    font-size: 7vw;
    font-weight: 400;
    position: absolute;
    left: 35%;
    top: -10vw;
    color: var(--color-title);
}

.content-item:nth-child(even) .content-item-num {
    right: auto;
    left: -5vw;
}

.content-item-title {
    text-align: right;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--color-sub);
    padding-bottom: 0.8vw;
    font-size: 1.5rem;
}

.content-item:nth-child(even) .content-item-title {
    text-align: left;
}

.content-item-imgWrap {
    position: relative;
    --width: 100%;
    width: var(--width);
    padding-bottom: calc(var(--width) / (var(--aspect-ratio)));
    overflow: hidden;
    background: #ccc;
    border-radius: 50%;
    left: 5%;
}

.content-item-img {
    width: var(--width);
    --overflow: 60px;
    position: absolute;
    top: calc(-2 * var(--overflow));
    height: calc(100% + (2 * var(--overflow)));
    background-size: cover;
}

.content-item-desc {
    font-size: 5vw;
    line-height: 1.4;
    color: var(--color-title);
    text-align: right;
    word-break: keep-all;
    margin-top: -4vw;
    margin-left: -4vw;
    position: relative;
    z-index: 20;
    font-weight: 100;
}

.content-item-desc a {
    background: radial-gradient(lightyellow, gold);
    border-radius: 50%;
}

.content-item-desc i {
    color: goldenrod;
}

.content-item:nth-child(even) .content-item-desc {
    text-align: left;
    margin-right: 0;
    margin-left: -4vw;
}

#intro .content-item-img {
    background-image: url("../img/section-img01.jpg");
}

#adoption .content-item-img {
    background-image: url("../img/section-img03.jpg");
}

/* 개별적으로 나타나기 */
.contents > section .content-item-num {
    opacity: 0; transform: translateY(200px);
    /* transition: all 1s 0.1s ease; */
    transition: all 1s 0.1s cubic-bezier(0, 0.51, 0.16, 1.1);
}   
.contents > section .content-item-title {
    opacity: 0; transform: translateX(200px);
    /* transition: all 1s 0.3s ease; */
    transition: all 1s 0.3s cubic-bezier(0, 0.51, 0.16, 1.1);
}
.contents > section .content-item-imgWrap {
    opacity: 0; transform: translateY(200px) rotate(30deg) skew(20deg);
    /* transition: all 1s 0.6s ease; */
    transition: all 1s 0.6s cubic-bezier(0, 0.51, 0.16, 1.1);
}
.contents > section .content-item-desc {
    opacity: 0; transform: translateX(200px);
    /* transition: all 1s 0.9s ease; */
    transition: all 1s 0.9s cubic-bezier(0, 0.51, 0.16, 1.1);
}

.contents > section.show .content-item-num {
    opacity: 0.7; transform: translateY(0);
}
.contents > section.show .content-item-title {
    opacity: 1; transform: translateX(0);
}
.contents > section.show .content-item-imgWrap {
    opacity: 1; transform: translateY(0) rotate(0) skew(0);
}
.contents > section.show .content-item-desc {
    opacity: 1; transform: translateX(0);
}

#baby,
#story {
    width: 100%;
}

#story {
    margin-bottom: 10%;
}

.title {
    padding: 0 10px; text-align: center; margin-bottom: 20px;
}

.title h5 {
    font-size: 22px;
}

.title h5 span > span {
    font-size: 23px; color: goldenrod;
}

.list {
    padding: 10px 10px; background: goldenrod;
    overflow: hidden;
    display: table; width: 100%;
}

.list .card-post-row {
    background: #555;
    display: table-row;
}

.card-img01 {
    background-image: url(../img/대박.jpg);
}
.card-img02 {
    background-image: url(../img/하루.jpg);
}
.card-img03 {
    background-image: url(../img/통키.jpg);
}
.card-img04 {
    background-image: url(../img/사랑.jpg);
}
.card-img05 {
    background-image: url(../img/루팡.jpg);
}
.card-img06 {
    background-image: url(../img/온화.jpg);
}
.card-img07 {
    background-image: url(../img/기쁨.jpg) ; 
}
.card-img08 {
    background-image: url(../img/믿음.jpg); 
}
.card-img09 {
    background-image: url(../img/평화.jpg);
}

.jb-table {
    display: table;
    width: 100%;
}
.jb-table-row {
    display: table-row;
}
.jb-table-cell {
    display: table-cell;
    background-repeat: no-repeat;
    height: 250px; 
    background-size: cover;
    background-position: 0 70%;
    border: 1px solid lightyellow;
}

.card a {
    width: 100%; height: 100%; display: block; text-align: center;
}

.card a:hover {
    background: #000;
    opacity: 0.5;
}

#adoption {
    margin-bottom: 0;
}

.adoption {
    padding: 50px 50px; margin: 0 auto;
}

.adoption-img1 {
    background: url(../img/adoption-img01.jpg) no-repeat center top;
    /* background: lightgrey; */
    left:10%; height: 585px; margin-bottom:0px;
}
.adoption-img2 {
    background: url(../img/adoption-img02.jpg) no-repeat center top;
    /* background: lightgrey; */
    left:10%; height: 585px; margin-bottom:0px;
}
.adoption-img3 {
    background: url(../img/adoption-img03.jpg) no-repeat center top;
    /* background: lightgrey; */
    left:10%; height: 585px; margin-bottom:0px;
}
