/* Join */
/* header */
.header-title a h1 {
    font-size: 35px;
}

/* main */
.area {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 50px;
}

.area form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(254, 255, 205);
    background: rgb(250, 255, 223);
    border-radius: 30%;
    padding: 30px;
}

.contents div {
    margin-bottom: 15px;
}

.contents h3 {
    font-size: 15px;
}

.memberSex span label {
    font-size: 20px;
}

input {
    width: 100%;
    font-size:20px;
}
select {
    width: 100%;
    font-size:20px;
}
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

/* footer */
footer .footer-logo:before,
footer .footer-logo:after {
    content: "";
    width: calc(33.333333% - 40px);
    height: 1px;
    background: goldenrod;
    position: absolute;
    display: block;
    transform: scale(1,1);
    top: 50%;
}

footer .sub-container {
    display: block;
    margin-bottom: 50px;
}

/* btn */
.btn_area {
    padding-top:30px;
    padding-bottom:15px;
}
.btn {
    background: yellow;
    border:none;
    font-size:25px;
    color:black;
}

/* Login */
.login_area {

}

.login_area form {
    background: none;
}

.login_contents {
    width: 80%;
    padding: 10%;
    box-sizing: border-box;
    border: 1px solid gray;
}

.login_contents div input {
    box-sizing: border-box;
    padding: 10px;
    font-size: 25px;
}

.find_wrap {
    padding: 24px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find_wrap li {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.find_wrap li+li::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 13px;
    border-radius: 0.5px;
    background-color: lightgray;
}

.find_wrap .find_text {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: gray;
}